<section class="container my-5">
  <h2 class="text-center mb-4">Our Story</h2>

  <p class="text-justify px-md-5">
    We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
    Fans were given situations where they had to come up with wacky and fun excuses. The person
    with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic
    response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza.
    <br><br>
    Ever!Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest,
    cheesiest,
    crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle
    of a performance and even finding excuses to be disqualified in a football match.
    <br><br>
    We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where
    they had to come up with wacky and fun excuses. The person with the best excuse won the Best
    Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh
    Pan Pizza is the Tastiest Pan Pizza. Ever!
  </p>
</section>

<section class="container my-5">
  <div class="row align-items-center g-4">
    <div class="col-md-6">
      <img
        src="https://img.freepik.com/free-photo/composition-tasty-traditional-pizza_23-2148921280.jpg?semt=ais_hybrid&w=740&q=80"
        class="img-fluid rounded"
        alt="Ingredients"
      >
    </div>

    <div class="col-md-6">
      <h2>Ingredients</h2>
      <p>
        We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight
        from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While
        they're still young and fresh - that's our motto. It makes the kitchen a better place.
      </p>
    </div>
  </div>
</section>

<section class="container my-5">
  <div class="row align-items-center g-4">
    <div class="col-md-6">
      <h2>Our Chef</h2>
      <p>
        They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and
        stirring spoons (among other things). They make goodness so good, it doesn't know what to do
        with itself. We do though. We send it to you.
      </p>
    </div>

    <div class="col-md-6 text-center">
      <img
        src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg"
        class="img-fluid rounded"
        alt="Chef"
      >
    </div>
  </div>
</section>

<section class="container my-5">
  <div class="row align-items-center g-4">
    <div class="col-md-6">
      <img
        src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg"
        class="img-fluid rounded"
        alt="Delivery"
      >
    </div>

    <div class="col-md-6">
      <h2>45 min Delivery</h2>
    </div>
  </div>
</section>
