<div class="container mt-4">
  <h2 class="mb-4">Our Menu</h2>

  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let pizza of pizzas">
      <div class="pizza-card border p-3 d-flex">

        <div class="flex-grow-1 pe-3">
          <div class="d-flex align-items-center mb-2">
            <h5 class="fw-bold me-2">{{ pizza.name }}</h5>
            <div class="box" [ngClass]="pizza.type === 'veg' ? 'veg' : 'non-veg'">
            </div>
          </div>

          <p class="mb-1 text-muted">{{ pizza.description }}</p>

          <p class="mb-1">
            <strong>Ingredients:</strong>
            <span *ngFor="let ing of pizza.ingredients">
              {{ ing.iname }},
            </span>
          </p>

          <p class="mb-2">
            <strong>Toppings:</strong>
            <span *ngFor="let top of pizza.topping">
              {{ top.tname }},
            </span>
          </p>

          <p class="fs-5 fw-bold mb-0">₹{{ pizza.price }}</p>
        </div>

        <div class="text-center">
          <img [src]="pizza.image" class="img-fluid mb-2" style="max-width: 120px;" />

          <button *ngIf="!isInCart(pizza)" class="btn btn-primary w-100 mt-5" (click)="addToCart(pizza)">
            Add
          </button>

          <button *ngIf="isInCart(pizza)" class="btn btn-danger w-100 mt-5" (click)="removeFromCart(pizza)">
            Remove
          </button>

        </div>

      </div>
    </div>
  </div>
</div>