.veg-indicator {
  width: 16px;
  height: 16px;
  border: 2px solid;
  display: inline-block;
  position: relative;
}

.veg-indicator::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.veg-indicator.veg {
  border-color: #28a745;
}

.veg-indicator.veg::after {
  background-color: #28a745;
}

.veg-indicator.non-veg {
  border-color: #dc3545;
}

.veg-indicator.non-veg::after {
  background-color: #dc3545;
}