/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    transition: all 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
}

/* Loading Spinner */
.spinner-border {
    width: 3rem;
    height: 3rem;
}
